* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #ed4747;
	font-family: 'Roboto', sans-serif;
	/* background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.0) 0%, rgb(4, 1, 14) 75%), url('../img/bg.jpg'); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}



.hero {
	min-height: 390px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	padding-top: 30px;
}
.hero_img{
	margin-top: 120px;
	border-radius: 50%;
	margin-bottom: 30px;
}

.hero h1 {
	font-size: 100px;
}
.contenedor_titulo{
	margin-bottom: 30px;
}
.hero p {
	font-size: 24px;
}

.contenedor {
	color: #f2f2f2;
	font-size: 18px;
	line-height: 30px;
	width: 90%;
	max-width: 700px;
	margin: auto;
	text-align: justify;
}

.contenedor p {
	margin-bottom: 40px;
}

.relleno{
	
	height: 260px;
}

.navbar{
	z-index: 999;
	display: flex;
	justify-content: center;
	background-color: black;
	color: white;
	height: 80px;
	width: 100%;
	position: fixed;
}
.navbar_boton{
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	width: 150px;
	height: 40px;
	margin: 24px 10px;
	
	transition: .4s ease-in;
}
.navbar_boton:hover{
	background-color: #ed4747;
}

.navbar_a{
font-size: x-large;
	text-decoration: none;
	color: inherit;
}
.boton_Menu_svg{
	display: none;
}
/* formulario */


.contact_form{	
	width: 460px; 
  height: auto;
  margin: 10px;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 20px; 
}


input{
	background-color: #fbfbfb; 
	width: 90%; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 100%; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 90%;   
  cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: #ab4493; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}


.formulario_titulo{
	font-size: 24px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab4493;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}


@media screen and (min-width: 320px) and (max-width: 700px) {
  body {
    background-color: blue;
  }
	.hero h1{
		width: 390px;
		font-size: 32px;
		margin-bottom: 10px;
	}
	.navbar{
		
		z-index: 1;
		position: relative;
		right: 0;
		display: flex;
		flex-direction: column;
		background-color: black;
		color: white;
		height: 490px;
		width: 230px;
		padding-top: 30px;
		padding:0 10px 0 10px;
		transition: .2s ease-in;
		border-radius:0 20px 0 ;

	}
	.aparecer{
		opacity: 0;
	}
	.navbar_boton{
		border-radius: 20px;
		display: flex;
		/* justify-content: center; */
		padding-left: 20px;
		align-items: center;
		width: 90%;
		margin-bottom: 15px;
		background-color: #ed4747;
	}
	.navbar_a{
		font-size: 32px;
	}
	.boton_Menu{
		z-index: 99;
		position: sticky;
		top: 0;
		display: flex;
		justify-content: flex-end;
		background-color: rgb(0, 0, 0);
		width: 100%;
		height: 100px;
	}
	.boton_Menu_svg{
		display: block;
		z-index: 99;
		width: 60px;
		margin-right: 80px;
	}
	.hero_img{
		width: 300px;
		margin: 30px;
	}
	.formulario{
		width: 100%;
		padding: 30px;
	}
	.contact_form{
		width: 390px; 
		margin: -10px;
		}
		textarea{
			width: 90%;
		}
	.repertorio{
		border-radius: 20px;
		padding: 20px;
		display: flex;
    justify-content: flex-start;
    color: #000;
    background: #f2f2f2;
    border: 1px solid #000;
    align-items: center;
    flex-direction: column;
	}
	.repertorio_link{
		gap: 30px;
		display: flex;
		flex-direction: column;
	}

}