

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: rgb(239, 239, 226);
}
main{
width: 900px;
margin: 0  auto;
margin-bottom: 50px;

box-shadow: 1px 4px 5px 2px #dcdcd9;
display: grid;
grid-template-columns: 2fr  3fr;
.CV-info-left{
background: #000;
color: white;
font-weight: 100;
img{
  width: 100%;
  
}
.data{
  padding: 20px;
  .title{
    margin-bottom: 5px; 
     font-weight: 100;
    
   }
   .title-strong{
    font-weight: bold;
  }
  .title-ul {  
    padding-left: 20px;
    font-weight: 100;
    color: #e5d5d5;
    gap: 40px;
    margin-bottom: 20px;  
    li{
      border-bottom: 20px;
    }
    li:hover{
      color: #fff;
    }
  }
  .link-redes{
    display: flex;
    
   
    
    svg{
      width: 28px;
      margin-right: 30px;
    }
    a{
      color: inherit;
      text-decoration: none;
     
    }
    .link-redes-a{
     
      display: flex;
      border-radius: 20px;
      padding-left: 10px;
      transition: .1s ease-out;
      align-items: center;
      fill: rgb(255, 255, 255);
    }
    .link-redes-a:hover{
      fill: red;
      background-color: rgb(38, 38, 38);
    }
   }
 }

}

.CV-info-right{
  .resalt{
    transition: .3s ease-in;
    border-radius: 20px;
    padding: 10px;
  }
  .resalt:hover{
   
    
    p{
    
      padding-left: 20px;
      font-weight: 500;
      color: #000000;
    }
  }
  background: #ffffff;
  padding: 20px 40px;
  h2{
    font-weight: 400;
  }
  p{
    
    padding-left: 20px;
    font-weight: 300;
    color: #0d0c0c;
  }
  .right-title{
    font-size: 62px;
    margin: 30px 0;
    font-family: 'Bebas Neue', sans-serif;
  }
  .right-name{
    margin-bottom: 30px;
    font-size: 32px;
  }
  .right-aboutme{
   
    padding: 10px;
    margin-bottom: 60px;
    h2{
      margin-bottom: 30px;
    }
    p{
      text-indent: 30px;
    
    }
  }
  .right-experience-main{
    h2{
      margin-bottom: 30px;
    }
  .right-experience{
    display: flex;

  .right-experience-barra{
    
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    svg{
      width: 24px;
    }
    .barra{
      margin: -4px 0;
      width:2px;
      background-color: #000;
    }
    .barra1{
      height: 250px;
    }
    .barra2{
      height: 180px;
    }
  }
  .right-experience-info{
    padding-left: 30px;
    .right-experience-datos{
      margin-bottom: 30px;
      ul{
        padding-top: 10px;
        padding-left: 40px;
        font-weight: 300;
      }
    }
  }
}
}
  .right-hobbies{
    svg{
      width: 28px;
    }
    .right-hobbies-list{
      margin: 10px 0;
      display: flex;
      align-items: center;
    }
  }
}

}
.extra{
  padding:10px 30px  0  30px;
  .extra-data{
    text-indent: 30px;
  }
  .extra-info{
    width: 90px;
    margin: 20px auto;
    font-size: 12px;
  }
}
@media screen and (min-width:431px) {
  .CV-info-movile{
    display: none;
  }
  .link-redes {
    display: flex;
    flex-direction: column;
    
  }
  .link-redes-a{
    height: 40px;
    margin: 5px 0;
    width: 200px;
  }
}

@media screen and (max-width:430px) {

 
  main{
    margin: 0;
    width: 228px;
  }
 
  .CV-info-movile{
    background: rgb(60, 60, 60);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    height: 92px;
    align-items: center;
    .botnes{
      position: relative;
      display: flex;
      width: 100%;
      height: 100px;
      transition: top 0.8s;
      
      button{
        border-radius: 20px   20px 0 0;
        width: 50%;
        font-size: 28px;
        border: none;
      }
      .botn-skill{
        background-color: #000;
        color: #fff;
      }
      .botn-info{
        background:linear-gradient(#848484,#303030) ;
        color: #000000;
      }
    }
  }
  .movile-title{
    background-color: #000;
  }
  .data-movil{
    background-color: white;
    color: #000;
    height:auto ;
    h2{
      font-weight: 300;
    }
    .right-aboutme{
      margin-top: 30px;
      margin-bottom: 30px;
      p{
        text-indent: 30px;
      }
    }
    .right-experience-main{
      h2{
        margin-bottom: 20px;
      }
      .right-experience{
        display: flex;
      }
      .right-experience-barra{
        width: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-left: 10px;
        svg{
          width: 24px;
        }
        .barra{
          margin: -4px 0;
          width:2px;
          background-color: #000;
        }
        .barra1{
          height: 230px;
        }
        .barra2{
          height: 180px;
        }
      }
      .right-experience-info{
       
        padding-left: 30px;
        .right-experience-datos{
          margin-bottom: 10px;
          p{ 
            padding-left: 30px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .right-hobbies{
      width: 100%;
      padding-top: 20px;
     margin-bottom: 60px;
      svg{
        width: 28px;
        margin-right: 30px;
      }
      .right-hobbies-list{
        margin-top: 10px;
        padding-left: 30px;
        display: flex;
        align-items: center;

      }
    }
  }
  .CV-info-left{
    width: 100vw;
    .data .link-redes {
      display: flex;
      position: relative;
      left:-17px ;
      gap: 20px;
      svg{
        position: relative;
        left: 10px;
        opacity: .4;
        height: 32px;
      }
    }
    .link-redes-a{
      margin: 0 ;
      padding-bottom: 10px;
      width: 123px;
      height: 68px;
      border: 1px solid #484844;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  
  .CV-info-right{
    display: none;
  }
  .title{
    display: flex;
  }
  .invisible{
    display: none;
  }
}