:root {
  --color-primario: #f2f2f2;
  --color-fuente:#1848DE;
  --fontL: 32px;
  --fontM: 14px;
  --fontS: 14px;
}

*{
  padding: 0;
  margin: 0;
}

.sticky-menu {
  /* position: sticky;
  top: 0;
  background-color: #f2f2f2;
  z-index: 100; */
  display: flex;
  flex-direction: column;
  position: fixed;
 
      top: 0;
      left: 0;
      width: 230px;
      height: 100%;
      background-color: #ca1d1d;
      background-image: linear-gradient(to bottom, #4526f4, #0f0f0f);
      /* background-color: #f5f5f5; */
      padding: 30px;
      font-size: var(--fontL);
}
.sticky-menu img{
  width: 200px;
  height: 200px;
  /* margin-right: 20px; */
  border-radius: 20px;
  margin-left: 20px;
}

.menu-list {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
 flex-direction: column;
 gap: 20px;
}

.menu-list li {
  margin: 20px;
  
}

.menu-list li a {
  user-select: none;
  text-decoration: solid;
  color:#fff;
  font-weight: bolder;
}

.menu-list li a:hover {
  color: #3498db;

  text-decoration: #1848DE;
}
/* menu fotante */
#inicios{
  top: 270px;
  left: 230px;
}
#acerca{
  top: 350px;
  left: 230px;
}
#proyectos{
  top: 430px;
  left: 230px;
}
#contacto{
  top: 510px;
  left: 230px;
}

.menu {
  
  position: fixed;
  border-radius: 20px;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 250px;
  box-shadow: 2px 0px 10px 3px #555;
}



.menu.visible {
  display: flex;
}
.menu.fixed {
  position: block;
}
/* este es el cuerpo de la pagina */
.vacio{
  height: 20px;
  width: 100%;

}
body{
  padding-left: 300px;
  margin: 0;
  background:#cbced0;
  font-family: Arial, sans-serif;
}
#main{
  /* position: absolute;
  left: 400px; */
  margin: 20px;
  background-color: white;
  border: 1px solid #000;
  width: 93%;
  padding-left: 10px;
  border-radius: 20px;
}
#cetral{
  display: flex;
  flex-wrap: wrap;
}
.section{
  background-color: white;
  display: wrap;
  min-width:390px ;
  padding: 20px;
  margin: 20px;
  border: 1px solid #000;
  box-shadow: 0px 2px 20px 3px #000;
  border-radius: 20px;
 

  
}
.section a{
  gap: 20px;
  margin-top: 20px;
  text-decoration: none;
}


#bc-img{
  background-color: #000;
  width: 530px;
  height: 800px;
  
}
@media (max-width: 768px) {
  #main{
    width:600px;
  }
}